#section-4 {
    font-family: 'ACaslonPro';
    background-color: $primary_waite;
    .wrapper {
        position: relative;
    }
    #section-4-heading {
        margin: (52rem/16) auto;
        h2 {
            margin: 2rem auto;
            text-align: center;
            font-weight: bold;
            color: $primary_dark;
            font-style: italic;
            font-size: 2rem;
        }
        p {
            line-height: 1.7rem;
            font-family: 'AcuminPro', sans-serif;
            color: $secondary_dark;
        }
    }
    // carousel container
    .carousel-container {
        // border: 10px solid green !important;
        height: (474rem/16);
        overflow: hidden;
        width: 78vw;
        .carousel-wrapper {
            height: 100%;
            display: flex;
            transition: transform 1s ease;
        }
        .carousel-item {
            min-width: 78vw;
            // border: 2px solid red;
            height: 100%;
            background-size: cover;
            transition: transform 1s ease;
            background-repeat: no-repeat;
            &:nth-child(1) {
                background-image: url('../img/innerhouse.jpg');
            }
            &:nth-child(2) {
                background-image: url('../img/innerhouse2.jpg');
            }
            &:nth-child(3) {
                background-image: url('../img/innerhouse3.jpg');
            }
            &:nth-child(4) {
                background-image: url('../img/innerhouse4.jpg');
            }
            &:nth-child(5) {
                background-image: url('../img/innerhouse5.jpg');
            }
        }
        @include fix-carousel {
            min-width: 92vw;
            transform: translateX(15px);
            .carousel-item {
                min-width: 92vw;
            }
        }
    }
    button {
        position: absolute;
        width: (54rem/16);
        height: (100rem/16);
        top: 57%;
        transform: translateX(-1.5rem);
        background-color: $light_green;
        border: none;
        z-index: 1;
        &:last-child {
            right: -2rem;
            div {
                border-top: .2rem solid $primary_waite;
                border-right: .2rem solid $primary_waite;
            }
        }
        div {
            width: 1rem;
            height: 1rem;
            margin: auto;
            transform: rotate(45deg);
            justify-content: center;
        }
    }
    #left {
        div {
            border-left: .2rem solid $primary_waite;
            border-bottom: .2rem solid $primary_waite;
        }
    }
    .wrapper-2 {
        margin-top: 1.5rem;
        display: flex;
        flex-wrap: wrap-reverse;
        justify-content: space-between;
        img {
            width: 37%;
        }
        .text {
            padding: 1%;
            width: 57%;
        }
        p {
            line-height: 1.7rem;
            font-size: 1.2rem;
            color: $section-4-dark;
        }
        @include tablet {
            justify-content: center;
            img {
                width: 98%;
                margin-bottom: 3rem;
            }
            .text {
                width: 98%;
                margin: 3rem auto;
            }
        }
    }
}