#section-3 {
    color: $primary_waite;
    font-family: 'ACaslonPro';
    font-weight: bold;
    font-style: italic;
    height: 100vh;
    background: url('../img/sunHouse.jpg') center no-repeat;
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        @include mobile {
            h1 {
                font-size: 2rem;
                text-align: center;
            }
            p {
                line-height: 1.5rem;
                font-size: 1rem;
                margin: 1rem auto;
                width: 90%;
            }
            .buttons {
                width: 70%;
                // border: 1px solid red;
                min-height: 7rem;
                justify-content: space-around;
                flex-direction: column;
            }
            a {
                // width: 
                text-align: center;
                width: 100%;
                max-width: 14rem;
                margin-right: auto;
                margin-left: auto;
                font-size: 1.1rem;
                padding: .4rem .5rem;
            }
        }
    }
    h1 {
        font-size: 3rem;
    }
    p {
        width: 60%;
        padding: .3rem 0;
        line-height: 2rem;
        text-align: center;
        margin: (45rem/16) auto;
        font-size: 1.2rem;
        font-family: "AcuminPro", sans-serif;
        font-weight: normal;
    }
    .buttons {
        width: (400rem/16);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    a {
        padding: 1rem 2.7rem;
        font-size: 1.3rem;
        border-radius: .5rem;
        transition: background-color .2s ease;
        &:nth-child(1) {
            background-color: $light_green;
            &:hover {
                background-color: darken($color: $light_green, $amount: 3);
            }
        }
        &:nth-child(2) {
            background-color: $primary_waite;
            color: $button_gray;
            &:hover {
                background-color: darken($color: $primary_waite, $amount: 9);
            }
        }
    }
}