#section-5 {
    background-color: $light_green;
    .wrapper {
        @extend %align-center;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: (140rem/16);
        font-family: 'ACaslonPro';
        font-style: italic;
        font-weight: bolder;
        color: $dark_blue;
        a {
            font-weight: bold;
            padding: 1rem 2.7rem;
            background-color: $primary_waite;
            border-radius: .3rem;
            transition: background-color .2s ease;
            &:hover {
                background-color: darken($color: $primary_waite, $amount: 20);
            }
        }
        @include mobile {
            justify-content: center;
            padding-top: 2.2rem;
            padding-bottom: 2.2rem;
            text-align: center;
            p {
                line-height: 2rem;
            }
            a {
                margin: 1rem auto;
            }
        }
    }
}