html,
body {
    width: 100vw;
}

section {
    width: 100%;
}

.wrapper {
    width: 100%;
    max-width: (1100rem/16);
    margin: 0 auto;
}

.logo {
    min-width: 5rem;
    height: 5rem;
    background: url('../img/logo.png') center no-repeat;
    align-self: center;
    margin: 0 (58rem/16);
}

a {
    cursor: pointer;
}