html,
body {
    width: 100%;
}

.wrapper {
    width: 96vw;
    max-width: (1100rem/16);
    margin: 0 auto;
    padding: 0 1.5vw;
    // @extend %border;
}

.logo {
    min-width: 5rem;
    height: 5rem;
    background: url('../../img/logo.png') center no-repeat;
    // @extend %border;
    align-self: center;
    margin: 0 (58rem/16);
}