@mixin tablet {
    @media screen and(max-width: 1082px) {
        @content;
    }
}

@mixin mobile {
    @media screen and (max-width: 728px) {
        @content;
    }
}

@mixin extra-mobile {
    @media screen and (max-width: 540px) {
        @content;
    }
}

// animations
@mixin rotationRight {
    @keyframes rotationRight {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(45deg);
        }
    }
}

@mixin rotationLeft {
    @keyframes rotationLeft {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(-45deg);
        }
    }
}