$primary_waite: #fff;
$light_green: #00ff9c;
$secondary_waite: #f0f0f4;
$footer_gray: #353555;
$dark_gray: #5f5f80;
$middle_gray: #4c4c6d;
$light_gray: #aaaac0;
$primary_dark: #1d1e38;
$secondary_dark: #373757;
$dark_blue: #20203c;
$dark_blue_footer: #1c1c36;
$dark: #31271c;
$button_gray: #474768;